footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FAFAFA;
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
    color: #d490c2;
}


.footer-links {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 20px;
    color: #d490c2;

}

.footer-links img {
    width: 80px;
}

.footer-redes {
    display: flex;
    gap: 20px;
    color: #d490c2;;
}

.footer-txt:hover{
    text-decoration-line: underline;

}



@media (max-width: 768px) {

    .footer-links {
        gap: 10px;
        flex-direction: column;
        text-decoration: underline;
    }

    footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

}