{% extends "finapp/base.html" %}
{% load static %}
{% block title %}
    Cadastrar
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cadastrar.css' %}" />
{% endblock %}

{% block content %}
<div class="cadastro-content">

    <h1> Cadastre-se e começe a usufruir do FinApp</h1>


    <form class="cadastro" id="cadastro-form" method="post">

            {% csrf_token %}
        {% for field in form %}
            {{ field.errors }}
            {{ field }}
        {% endfor %}

        <button class="btn-cadastrar" type="submit"> Cadastrar-se</button>
        <p>Já possui conta? <a href="{% url 'entrar' %}"><u>Entre aqui.</u></a></p>
    </form>



</div>


{% endblock %}