{% extends "finapp/base.html" %}
{% load static %}
{% block title %}
    Entrar
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/entrar.css' %}" />
{% endblock %}

{% block content %}

<div class="entrar-page">
    <div class="entrar-infos">
        <h1 class="entrar-titulo">
            Bem vindo novamente!
        </h1>

        <img class="img-entrar" src="{% static 'imagens/finentrar.svg' %}" >
    </div>


    <form class="entrar-form" method="post" action="{% url 'login' %}">

        {% csrf_token %}

        <input class="entrar-input" type="email" placeholder="Email" name="email" >

        <input class="entrar-input" type="password" placeholder="Senha" name = "password" >

        <button class="entrar-btn" type="submit">Entrar</button>

        <p id="cliente-novo">Cliente novo? <a class="link-cadastro" href= >Cadastre-se aqui.</a></p>
    </form>
</div>


{% endblock %}